// MDL overrides - automatically applied by mdl - CHANGE IF YOU WANT
$color-primary: "65, 122, 150";  // 417a96
$color-primary-dark: "39, 72, 89"; // 274859
$color-primary-contrast: "219, 233, 240"; // dbe9f0
$color-accent: "65, 122, 150";  // 417a96
$color-accent-contrast: "219, 233, 240"; // dbe9f0

// Use these as variables everywhere else
$rc-primary: #417a96;
$rc-primary-dark: #274859;
$rc-primary-contrast: #dbe9f0;
$rc-primary-light: #6ba4c1;

$rc-error: #eb8181;
$rc-error-light: #e89287;
$rc-success: #beebc3;

// Other Color Variables
$rc-gray: #d9d9d9;
$rc-lightgray: #e9e9e9;
$rc-lightestgray: #f5f5f5;
$rc-main: #FFF;
