.block--full { width: 100%; }
.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.pull-right { float:right; }

.text-primary { color: $rc-primary }
.text-primary-dark { color: $rc-primary-dark }
.text-primary-contrast { color: $rc-primary-contrast }
.text-error { color: $rc-error }
