<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <%= f.input :title %>
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <%= f.input :release_date %>
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <%= f.input :description %>
  </div>
</div>